.default-text {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}

.MuiGrid-spacing-xs-4 {
  width: auto !important;
  margin: 0px !important;
}

.more-options {
  position: fixed !important;
  background: "white";
  color: "black";
  z-index: 100;
  right: 20px;
  bottom: 20px;
}
.transform {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.transform-active {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
}
.mobileMenu div.MuiPaper-rounded {
  width: 53%;
}
