.loader{position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(255,255,255,0.6) url(./assets/pokeball.gif) center center no-repeat;z-index:5;}
.loader.fullscreen{position:fixed;}
.loader.static{position:relative;height:80px;border-radius:8px;}

@media only screen and (max-width: 600px)  {
	.pokemon-data{
	   margin:10px 10px;  
	}
	.card-body{
		padding:10px 0px;
	}
}
.default-text{
	text-decoration: none;
	color: inherit;
	font-weight: inherit;
}
.MuiGrid-spacing-xs-4{
   width: auto !important;
   margin: 0px !important;
}
